body {
  background-image: url("../image/BH_LMC.png");
  /*blackhole picture from wikimedia https://commons.wikimedia.org/wiki/File:BH_LMC.png
  author: Alain r*/
  background-size:cover;
}

h1 {
  font-size: 60px;
  color: #0018A8;
  /*text-align: center;*/
}

button {
  left: 50%;
  margin-top:1rem;
  margin-bottom:1rem;
  margin-left:5%;
  margin-right:5%;
  padding:0.5rem;
  font-size:30px;
  color:white;
  width:150px;
  height:50px;
  background-color: black;
  transition: all 0.3s;
}

button:hover{
  background-color: grey;
}

.wrapper {
  text-align: center;
}