.post-title{
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:5%;
    margin-right:5%;
    background-color: white;
    box-shadow: 4px 6px 20px -5px rgba(0,0,0,0.75);
}

.post-text{
    color:black;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    border:none;
    background-color: transparent;
    padding: 1rem;
    display:block;
}

.forum{
    float:left;
    width:70%;
}

.search{
    padding:1rem;
    float:left;
    width:20%;
    height:auto;
}

.textarea{
    font-size: 20px;
    height:30px;
    width:100%;
}

.post-text:hover{
    background-color:#4b5491;
    color:white;
}

body{
    background-color: rgb(121, 121, 121);
}