.navbar{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 6px 20px -5px rgba(0,0,0,0.75);
    background-color: #222f85;
    color:white;
}

.navbar_logo{
    height: 30px;
}

.navbar_list{
    display:flex;
    list-style:none;
}

.navbar_link{
    text-decoration: none;
    color:ghostwhite;
    transition: all 0.3s;
    cursor: pointer;
    font-family: 'Poppins', serif;
    font-size: 15px;
    border:none;
    background-color: transparent;
    padding: 1rem;
    display:block;
}

.navbar_link:hover{
    background-color:ghostwhite;
    color:#222f85;
}

.navbar_submenu-container{
    position:relative;
}

.navbar_submenu-container:hover .navbar_submenu{
    display: block;
}

.navbar_submenu{
    display:none;
    position:absolute;
    right:0;
    min-width:300px;
    z-index:99;
    background-color:#448aff;
    list-style: none;
}

.navbar_submenu-item{
    padding: 0.5rem;
    transition: all 0.3s;
}

.navbar_submenu-item:hover{
    background-color: #2a3ac9;
}

.navbar_submenu-link{
    text-decoration: none;
    color:ghostwhite;
    display:block;
    padding:0.5rem;
    cursor: pointer;
    font-family: 'Poppins', serif;
    font-size: 15px;
    border:none;
    background-color: transparent;
}