body{
    background-color: rgb(121, 121, 121);
}

.intro{
  float:right;
  width:70%;
}

.contrib{
  float:left;
  width: 25%;
}

h1 {
  color:#FCD12A;
}

h5 {
  color:#B2FFFF
}

img.contrib {
  width:60px;
  height:60px;
  padding:3px;
  border-radius: 50%
}
