body{
    background-color: rgb(121, 121, 121);
}

.intro{
  float:right;
  width:70%;
}

.contrib{
  margin:1rem;
  padding:1rem;
  float:left;
  width: 25%;
  background-color: ghostwhite;
  color:#222f85;
  font-size:30px;
}

.block{
  margin-top:1rem;
  margin-bottom:1rem;
  margin-left:5%;
  margin-right:5%;
  padding-top:0.1rem;
  padding-bottom:0.1rem;
  padding-left:1rem;
  padding-right:1rem;
  font-size: 30px;
  background-color: ghostwhite;
  box-shadow: 4px 6px 20px -5px rgba(0,0,0,0.75);
}

h4 {
  color:#222f85;
}

h5{
  margin-top: 5px;
  margin-bottom: -10px;
}

img.contrib {
  width:60px;
  height:60px;
  padding:3px;
  border-radius: 50%;
  border: 5px solid #222f85;
  box-shadow: 4px 6px 20px -5px rgba(0,0,0,0.75);
}

p{
  font-size: 20px;
}

ul{
  list-style-type: square;
  margin-top: 15px;
  margin-bottom: 10px;
}

li{
  font-size: 20px;
}