<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body>
    <%-include('forum_header.ejs')%>
    <p><%-res.comp%></p>
    <p><%-res.prog%></p>
  </body>
</html>
