<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create new account</title>
    <link href="/css/forum.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include ('account_header.ejs') %>
    <div class="create_account">
      <div>
        <h2>Create new account</h2>
        <form action= <%-"/create_account"%> method="post">
            <input class="input" name="name" placeholder="username" required>
            <input class="input" name="email" placeholder="email" required>
            <input class="input" name="password" placeholder="password" required>
        <br>
        <button type="submit" value="create" >
        </form>
      </div>

  </div>
  </body>
</html>
