<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Code Block Forum</title>
    <link href="/css/forum.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include ('forum_header.ejs') %>
    <div class="forum">
    <% for(var i=0; i<post.length; i++) {%>
       <% if(post[i].TITLE != null) {%>
        <div class="post-title">
          <a  class="post-text" href= <%-"/post?post="+post[i].ID%>><%= post[i].TITLE %></a>
        </div>
       <% } %>
    <% } %>
  </div>
  </body>
</html>
