<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Code Block Forum</title>
    <link href="/css/forum_header.css" rel="stylesheet" type="text/css">
    
  </head>
  <body>
    <%- include ('navbar.ejs') %>
  </body>
</html>
