<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Code Block Forum</title>
    <link href="/css/forum_header.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div className="navbar">
        <img src="/image/logo.png" className="navbar_logo"/>
        <ul className="navbar_list">
            <li className="navbar_item">
                <a href="/" className="navbar_link">Home</a>
            </li>
            <li className="navbar_item navbar_submenu-container">
                <button className="navbar_link">Account</button>
                <ul className="navbar_submenu">
                    <li className="navbar_submenu-item">
                        <a href="/auth/login" className="navbar_submenu-link">Login</a>
                    </li>
                    <li className="navbar_submenu-item">
                        <a href="/auth/register" className="navbar_submenu-link">Register</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
  </body>
</html>
