<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Code Block Login</title>
    <link href="/css/auth.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="login">
      <div class="no">
        <h2>Login Form</h2>
        <form action= <%-"/login"%> method="post">
            <input class="input" name="name" placeholder="username">
            <input class="input" name="email" placeholder="email">
            <input class="password" name="password" placeholder="password" required>
        <br>
        <input type="submit" value="Login" />
        </form>
      </div>

  </div>
  </body>
</html>
