<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Code Block Login</title>
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="/css/auth.css" rel="stylesheet" type="text/css">
    
  </head>
  <body>
    <%- include ('forum_header.ejs') %>
    <div style="padding-top: 20px;">
      <div class="block">
        <div>
          <h2 class="title" >Login</h2>
        </div>
        <div style="text-align: center;">
          <form class="form" action= <%-"/login"%> method="post">
            <input class="input" name="name" placeholder="username/email"><br>
            <input type="password" class="input" name="password" placeholder="password"><br>
              <div id="login_button">
                <input class="button1" type="submit" value="Login" />
                <p style="<%= (locals.miss)? 'display:block;color:red;':'display:none'%>">Please provide (username or email) and password</p>
                <p style="<%= (locals.no_user)? 'display:block;color:red;':'display:none'%>">No user or wrong password</p>
              </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
