<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Code Block Login</title>
    <link href="/css/auth.css" rel="stylesheet" type="text/css">
    
  </head>
  <body>
    <%- include ('forum_header.ejs') %>
    <div class="login">
      <div class="block">
        <h2 style="text-align:center">Login</h2>
      </div>
      <div class="block">
        <form class="form" action= <%-"/auth/login"%> method="post">
            <input class="input" name="name" placeholder="username"><br>
            <input class="input" name="email" placeholder="email"><br>
            <input class="password" name="password" placeholder="password" required><br>
      </div>
        <input type="submit" value="Login" />
        </form>

  </div>
  </body>
</html>
