<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Code Block Forum</title>
    <link href="/css/mainpage.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include ('forum_header.ejs') %>
    <%- include ('search.ejs') %>
    <div class="intro">
      <h1>Welcome to Code Block</h1>
      <h2>This is an online visualised code editor</h2>
      <p>The knowledge of programming become more and more important for poeple of all ages in this
      era of information. Therefore we are creating this website to provide a simple introduction to beginners in code to help them understand how to do OOP quickly.</p>
      <h3>Undergoing Development</h3>
      <ul>
        <li>auto result comparison for teachers and others for code checking</li>
        <li>auto module adder for programmer to add their own libraries and functions written and stored here</li>
      </ul>
    </div>
</html>
