<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Post</title>
    <link href="/css/new_post.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include ('forum_header.ejs') %>
    <div>
        <form action="/" method="post">
            <div class="block">
                <h2>Title:</h2><br>
                <textarea class="textarea"></textarea>
            </div>
            <div class="block">
                <h2>Content:</h2>><br>
                <textarea class="textarea"></textarea>
            </div>
            <input type="submit" value="POST">
            </form> 
    </div>
  </body>
</html>