<head>
  <meta charset="utf-8">
  <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
  <link href="/css/forum_search.css" rel="stylesheet" type="text/css">
  
</head>
<div class="search" style="background-color: #4b5491;">
    <form action= <%-"/forum/search"%> method="post">
      <textarea class="textarea" id="keywords" name="keywords" placeholder="Keyword"></textarea>
      <div id="search_button">
        <input class="button1" type="submit" value="Search" />
      </div>
    </form>
</div>
