<head>
    <meta charset="utf-8">
    <link href="/css/search.css" rel="stylesheet" type="text/css">
    
  </head>
<div class="search" style="background-color: rgb(100, 131, 194);">
    <h2 style="color:#000000">Search Title</h2>
    <form action= <%-"/forum/search"%> method="post">
    <textarea class="textarea" id="keywords" name="keywords"></textarea>
    <br><br>
    <input type="submit" value="Search" />
    </form>
</div>
