<div class="search">
    <h2 style="color:#afc2e7">Search Title</h2>
    <form action= <%-"/post/search"%> method="post">
    <textarea class="textarea" id="keywords" name="keywords"></textarea>
    <br><br>
    <input type="submit" value="Search" />
    </form>
</div>
