<div class="search" style="padding:1rem;float:left;width:20%;height:auto;">
    <h2 style="color:#afc2e7">Search Title</h2>
    <form action= <%-"/forum/search"%> method="post">
    <textarea class="textarea" id="keywords" name="keywords"></textarea>
    <br><br>
    <input type="submit" value="Search" />
    </form>
</div>
