<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Code Block Forum</title>
    <link href="/css/user.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include ('forum_header.ejs') %>
    <div class="block">
        <%= USERNAME %>
    </div>
    <div class="block">
        CODEs:
    </div>
    <% for(var i=0; i<code.length; i++) {%>
      <div class="block">
        <div class="code">
          <pre><%= code[i].SRC %></pre>
        </div>
      </div>
    <% } %>
  </div>
  </body>
</html>
