<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
    <title>Code Editor</title>
</head>

<body onload="start()">
    <%- include('forum_header.ejs') %>

    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="../lisa/blockly/blockly_uncompressed.js"></script>
    <script type="text/javascript" src="../lisa/blockly/blocks_compressed.js"></script>
    <script type="text/javascript" src="../lisa/blockly/msg/js/en.js"></script>
    <script type="text/javascript" src="../lisa/blockly/generators/cake.js"></script>
    <script type="text/javascript" src="../lisa/cake_compressed.js"></script>
    <script type="text/javascript" src="../lisa/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lisa/js/code.js"></script>
    <script type="text/javascript" src="../lisa/js/FileSaver.js"></script>
    <script type="text/javascript" src="../lisa/js/prettify.js"></script>
    <script type="text/javascript" src="../lisa/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="../lisa/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lisa/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../lisa/js/lightbox.min.js"></script>
    <script type="text/javascript" src="../lisa/js/wow.min.js"></script>
    <script type="text/javascript" src="../lisa/js/main.js"></script>
    <script type="text/javascript" src="../lisa/js/scrolling.js"></script>



    <header id="header" style="border: 0px solid black">
        
    </header>

    <div class="container" style="padding: 10px; margin: 10px; margin-left: auto; margin-right: auto; width: 90%; box-shadow: 0px 4px 4px 4px #999999 ">
        <div class="row">
            <section class="col-md-8 col-xs-12" style="border:0px solid #4a4a4a; border-style: inset;padding: 0px;">
                <div id="blocklyDiv" class="col-md-12" style="height: 400px;margin: 0px;">
                </div>
                <xml id="toolbox">
                    <category name="Variables">
                        <category name="Variable">
                            <block type="variables_declare"></block>
                            <block type="variables_get"></block>
                            <block type="variables_set"></block>
                        </category>
                        <category name="Pointer">
                            <block type="variables_pointer_declare"></block>
                            <block type="variables_pointer_get"></block>
                            <block type="variables_pointer_set">
                                <value name="VAR">
                                    <block type="variables_pointer_get">
                                    </block>
                                </value>
                            </block>
                            <block type="variables_pointer_&"></block>
                            <block type="variables_pointer_*"></block>
                        </category>
                        <category name="Array">
                            <block type="variables_array_declare"></block>
                            <block type="variables_array_get"></block>
                            <block type="variables_array_set"></block>
                        </category>
                    </category>
                    <category name="Arithmetics">
                        <block type="math_number"></block>
                        <block type="math_arithmetic"></block>
                        <block type="math_modulo"></block>
                    </category>
                    <category name="Loops">
                        <block type="controls_whileUntil"></block>
                        <block type="controls_doWhile"></block>
                        <block type="controls_for"></block>
                        <block type="controls_flow_statements"></block>
                    </category>
                    <category name="Logic">
                        <block type="controls_if"></block>
                        <block type="controls_switch"></block>
                        <block type="controls_switch_break"></block>
                        <block type="logic_compare"></block>
                        <block type="logic_operation"></block>
                        <block type="logic_negate"></block>
                        <block type="logic_boolean"></block>
                        <block type="logic_null"></block>
                        <block type="logic_ternary"></block>
                    </category>
                    <category name="Functions" custom="PROCEDURE">
                        <block type="procedures_defnoreturn"></block>
                        <block type="procedures_defreturn"></block>
                        <block type="procedures_ifreturn"></block>
                    </category>

                    <category name="Structure" custom="STRUCTURE">
                        <block type="structure_define"></block>
                        <block type="structure_declare"></block>
                    </category>
                    <category name="Library">
                        <category name="Stdio">
                            <block type="library_stdio_printf"></block>
                            <block type="library_stdio_text"></block>
                            <block type='library_stdio_newLine'></block>
                            <block type="library_stdio_scanf"></block>
                        </category>
                        <category name="Stdlib">
                            <block type="library_stdlib_convert"></block>
                            <block type="library_stdlib_rand">
                                <value name="VAR">
                                    <block type="library_stdlib_rand_scope">
                                        <value name="A">
                                            <block type="library_stdlib_number_forRandScope1"></block>
                                        </value>
                                        <value name="B">
                                            <block type="library_stdlib_number_forRandScope100"></block>
                                        </value>
                                    </block>
                                </value>
                            </block>
                            <block type="library_stdlib_malloc">
                                <value name="VAR">
                                    <block type="library_stdlib_arithmetic_forMalloc">
                                        <value name="A">
                                            <block type="library_stdlib_sizeof_forMalloc"></block>
                                        </value>
                                        <value name="B">
                                            <block type="library_stdlib_number_forMalloc"></block>
                                        </value>
                                    </block>
                                </value>
                            </block>
                            <block type="library_stdlib_arithmetic_forMalloc">
                                <value name="A">
                                    <block type="library_stdlib_sizeof_forMalloc"></block>
                                </value>
                                <value name="B">
                                    <block type="library_stdlib_number_forMalloc"></block>
                                </value>
                            </block>
                            <block type="library_stdlib_free"></block>
                            <block type="library_stdlib_exit"></block>
                        </category>
                        <category name="String">
                            <block type="library_string_strlen"></block>
                            <block type="library_string_strcat"></block>
                            <block type="library_string_strcpy"></block>
                            <block type="library_string_strcmp"></block>
                        </category>
                        <category name="Math">
                            <block type="library_math_abs"></block>
                            <block type="library_math_trig"></block>
                            <block type="library_math_logs"></block>
                            <block type="library_math_pow"></block>
                            <block type="library_math_exp"></block>
                            <block type="library_math_sqrt"></block>
                            <block type="library_math_round"></block>
                            <block type="library_math_numcheck"></block>
                            <block type="library_math_numcompare"></block>
                        </category>
                        <category name="Time">
                            <block type="library_time_current"></block>
                            <block type="library_time_requiredTime"></block>
                        </category>
                    </category>
                    <category name="Others">
                        <block type='comment'>
                            <value name="VAR0">
                                <block type="library_stdio_text"></block>
                            </value>
                        </block>
                        <block type="library_stdio_text"></block>
                        <block type="math_number"></block>
                        <block type="define_declare"></block>
                        <block type="define_get"></block>
                    </category>
                </xml>

            </section>

        </div>
    </div>
    <div>
        <section class="col-md-4 col-xs-12" style=" padding: 10px;margin: 10px ; margin-left: auto; margin-right:auto; box-shadow: 0px 4px 4px 4px #999999;width:90%">

            <div class="col-md-12 col-xs-12" style="height: auto; overflow: auto;">
                <div id="code-wrapper" class="panel panel-default col-md-12" style="border: 0px solid black;height: 95%;width:100%">
                    <div class="sub-heading">
                        <h3 class="panel-title">Code Generated</h3>
                    </div>
                    <pre style="height: auto;margin: 10px; border:2px solid #CCCCCC" class="Coding">
                    <code id="code4C" class="c"></code>
                    </pre>
                </div>
            </div>

            <form action="/action_page.php" method="get" target="_blank">
                <label for="fname">File Name:</label>
                <input type="text" id="fname" name="name">
                <label for="fname">(example.c)</label><br><br>
                <label for="lname">Paste your code here:</label><br><br>
                <input type="text" id="lname" name="sourceCode"><br><br>
                <input type="submit" value="Save">
            </form>

        </section>
    </div>

    <script type="text/javascript">function saveCode() {
        var data = {
          document.getElementById("code4C").value;
        }
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/code", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data))

        }</script>
        
    <script type="text/javascript">function saveCode() {
        var data = {
          document.getElementById("code4C").value;
        }
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/code", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data))

        }</script>

</body>
</html>
